
# /
/.project
/.settings

# /aperte-reports-ui/
/aperte-reports-ui/.classpath
/aperte-reports-ui/.project
/aperte-reports-ui/.settings
/aperte-reports-ui/target

# /aperte-reports-ui/src/main/resources/
/aperte-reports-ui/src/main/resources/rebel.xml

# /aperte-reports-ws/
/aperte-reports-ws/.project
/aperte-reports-ws/.settings

# /aperte-reports-ws/ws-client/
/aperte-reports-ws/ws-client/target
/aperte-reports-ws/ws-client/.classpath
/aperte-reports-ws/ws-client/.project
/aperte-reports-ws/ws-client/.settings

# /aperte-reports-ws/ws-endpoint/
/aperte-reports-ws/ws-endpoint/.classpath
/aperte-reports-ws/ws-endpoint/.project
/aperte-reports-ws/ws-endpoint/.settings
/aperte-reports-ws/ws-endpoint/target

# /aperte-reports-ws/ws-endpoint/src/main/webapp/
/aperte-reports-ws/ws-endpoint/src/main/webapp/META-INF

# /aperte-reports-ws/ws-utils/
/aperte-reports-ws/ws-utils/.classpath
/aperte-reports-ws/ws-utils/.project
/aperte-reports-ws/ws-utils/.settings
/aperte-reports-ws/ws-utils/target

# /aperte-reports-ws/ws-utils/src/main/java/
/aperte-reports-ws/ws-utils/src/main/java/META-INF

# /backbone/
/backbone/.classpath
/backbone/.project
/backbone/.settings
/backbone/target

# /backbone/src/main/java/
/backbone/src/main/java/META-INF

# /backbone/src/main/resources/
/backbone/src/main/resources/rebel.xml

# /common/
/common/.classpath
/common/.project
/common/.settings
/common/target

# /common/src/main/java/
/common/src/main/java/META-INF

# /common/src/main/resources/
/common/src/main/resources/rebel.xml

# /dao/
/dao/target
/dao/.settings
/dao/.classpath
/dao/.project

# /dao/src/main/java/
/dao/src/main/java/META-INF
/dao/src/main/java/rebel.xml

# /engine/
/engine/target
/engine/.settings
/engine/.classpath
/engine/.project

# /engine/src/main/java/
/engine/src/main/java/META-INF

# /model/
/model/target
/model/.settings
/model/.classpath
/model/.project

# /model/src/main/java/
/model/src/main/java/META-INF
