.gwt-FileUpload {
	display: none;
}

.v-csslayout-container .v-button {
	margin-right: 5px;
}

.aui .v-checkbox>*, .aui .v-checkbox input {
	/*float:left;*/
	margin-right: 5px;
	display: inline-block;
}

.aui .v-checkbox {
	margin-left: 5px;
}

.accordion-toggle .v-label, .accordion-toggle .v-button {
	display: inline-block;
}

.aui .v-app .accordion-group .accordion-heading.toggler-header-expanded .accordion-toggle::before,
	.aui .v-app .lfr-add-panel .lfr-page-template .lfr-page-template-title.toggler-header-expanded::before
	{
	content: "";
}

.aui .v-app .accordion-toggle {
	cursor: default;
}

.accordion-toggle .v-button, .accordion-toggle .v-label.float-right {
	float: right;
}

.invoker .accordion-toggle .v-label {
	float: left;
	margin-top: 7px;
}

.accordion-toggle .v-label {
	float: none;
	margin-top: 0;
}

.aui .accordion-inner fieldset {
	border: none;
}

.aui .v-app legend {
	border: none;
	margin: 0;
}

.conf-row .v-caption, .conf-row .v-filterselect {
	display: inline-block;
}

.v-captiontext, .v-required-field-indicator {
	display: inline;
}

.aui .v-filterselect .v-filterselect-input {
	margin-bottom: 0;
}

.v-filterselect-button {
	background: none !important;
}

.v-filterselect-button::before {
	content: "\f0dd";
	padding: 10px 0 0 15px;
	display: inline-block;
}

.v-filterselect-suggestmenu span {
	height: 24px !important;
	padding-left: 5px !important;
	cursor: pointer !important;
}

.v-filterselect-suggestmenu .gwt-MenuItem-selected span {
	background: #eee !important;
	border-color: #eee !important;
}

.v-filterselect-suggestmenu .gwt-MenuItem-selected {
	background: none !important;
}

.v-caption {
	width: 150px;
}

.aui .v-filterselect, .aui .v-caption {
	margin-bottom: 5px;
}

.v-tooltip {
	display: none;
}

/* roles */
.roles .v-checkbox {
	display: table-row;
}

.roles .v-csslayout-margin {
	display: table;
}

.aui .roles .v-checkbox input, .aui .roles .v-checkbox label {
	display: table-cell;
}

.aui .v-checkbox input, .aui .accordion-inner .btn {
	margin-bottom: 7px;
}

.button-row {
	margin-bottom: 10px;
}

/* Select */
.v-app select, .v-window select {
	padding: 1px;
}

select {
	background-color: #fff;
}

.v-ie6 select {
	font-size: 1em;
}

.v-filterselect-button {
	width: 24px;
	height: 24px;
	background: transparent url(../common/buttons_sprites.png) no-repeat 0 0;
}

.v-filterselect-button:hover {
	background-position: 0px -24px;
}

.v-filterselect-suggestpopup {
	border: 1px solid #98C0F4;
	background-color: #fff;
}

.v-filterselect-suggestmenu {
	min-height: 2px;
}

.v-filterselect-prevpage, .v-filterselect-prevpage-off,
	.v-filterselect-nextpage, .v-filterselect-nextpage-off {
	background-color: #fff;
}

.v-filterselect-prevpage span, .v-filterselect-prevpage-off span,
	.v-filterselect-nextpage span, .v-filterselect-nextpage-off span {
	display: block;
	height: 8px;
	width: 16px;
	margin-left: auto;
	margin-right: auto;
	text-indent: -99999px;
}

.v-filterselect-prevpage span, .v-filterselect-nextpage span {
	background: transparent no-repeat 0 -4px;
	background-image: url(/html/themes/classic/images/aui/icon_sprite.png);
}

.v-filterselect-nextpage span {
	background-position: -65px -4px;
}

.v-filterselect-suggestmenu .gwt-MenuItem span {
	display: block;
	width: 100%;
	height: 18px;
	border: 1px solid #fff;
	border-style: solid none;
}

.v-filterselect-suggestmenu .gwt-MenuItem-selected span {
	color: #000;
	background: #dfe8f6;
	border-color: #a3bae9;
}

.v-filterselect-suggestmenu .gwt-MenuItem .v-icon {
	float: left;
}

.v-select-twincol-buttons .v-button-wrap {
	padding-left: 11px;
	padding-right: 11px;
}

.v-button-wrap {
	color: inherit !important;
}

.v-button-caption {
	text-decoration: inherit !important;
}

.v-panel, .v-panel-caption, .v-panel-nocaption {
	background: none !important;
	border: none !important;
}

.v-panel-content {
	border: none !important;
}

.v-button, .v-datefield-button {
	border: 0 !important;
	text-shadow: none !important;
	border-radius: 8px !important;
	padding: 4px 12px !important;
}

.v-datefield-button, .v-datefield-button:hover {
	background: inherit !important;
	box-shadow: none !important;
	outline: 0 !important;
	margin: 0 !important;
	font-size: 16px !important;
	background-color: transparent !important;
}

.v-datefield-time {
	text-align: center;
}

.v-datefield-calendarpanel .v-select {
	max-width: 96px;
}

.v-button-prevyear, .v-button-prevmonth, .v-button-nextmonth,
	.v-button-nextyear {
	text-shadow: none !important;
	border-radius: 8px !important;
	padding: 4px 12px !important;
	width: 30px !important;
	box-shadow: none !important;
	font-size: 14px !important;
}

.v-button-prevyear:before, .v-button-prevmonth:before,
	.v-button-nextmonth:before, .v-button-nextyear:before,
	.v-datefield-button:before, .v-filterselect-button {
	display: block;
	font-family: FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-width: 10px;
	text-align: center;
	line-height: 0px;
}

.v-button-prevyear:before {
	content: "";
}

.v-button-prevmonth:before {
	content: "";
}

.v-button-nextmonth:before {
	content: "";
}

.v-button-nextyear:before {
	content: "";
}

.v-datefield-button:before {
	content: "\f073";
	color: #626262 !important;
}

.v-datefield-calendarpanel-prevmonth, .v-datefield-calendarpanel-month,
	.v-datefield-calendarpanel-nextmonth {
	background: none !important;
}

.v-datefield-calendarpanel-day {
	background: none !important;
	border-radius: 2px !important;
	border-color: #d9d8d8 !important;
}

.v-textfield.v-textfield-prompt {
	margin-bottom: 15px !important;
}

/* Notification */
.v-Notification, .v-form-errormessage {
	background-color: #fee5e2;
	border: 1px solid #fcaca5;
	color: #b50303;
	border-radius: 2px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* Aperte disable Bereiche ausblenden */
.v-disabled {
	display: none !important;
}

/* JSF Portlet Styles */
.report-container {
	border: 1px solid #e5e5e5;
}

.report-template {
	padding: 5px;
	margin: 2px;
	height: 45px;
}

.report-parameters {
	padding: 0px 10px;
}

.report-name {
	float: left;
	margin-top: 7px;
}

.report-param-btn {
	float: right;
}

body.bem-scheme .ui-datepicker-trigger.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only:hover
{
	background: #1c663f;
}

body.bwb-scheme .ui-datepicker-trigger.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only:hover
{
	background: #0072B8;
}

.ui-selectlistbox-item.ui-corner-all {
	padding: 2px 5px !important;
}

.param-label-column {
	width: 10%;
}

.parameters-table thead {
	display: none;
}

.type-selection {
	width: 100%;
}

.type-selection td {
	border: none !important;
}

.type-selection-label {
	width: 10%;
}

.type-selection-value select {
	width: 206px !important;
}

.dict-selection {
	width: 206px !important;
}

.generate-btn {
	margin-top: 10px !important;
	margin-bottom: 15px !important;
}

.message-bar {
	position: fixed !important;
	bottom: 50px;
	width: 98%;
}

.ui-widget-content.ui-selectmanymenu.dict-selection {
	border: 1px solid #e5e5e5;
}

.ui-state-default.ui-state-highlight {
  opacity: 0.6;
}

.ui-state-default.ui-state-active.ui-state-highlight {
  opacity: 1;
}

.ui-panelgrid .ui-panelgrid-cell {
	padding: 1rem !important;
}